@model School_Management_System.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Rollno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Rollno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Section)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrolled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department_FId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department_FId)
        </dd>
    </dl>
</div>
<div>
    course:
    @foreach (var item in Model.Enrollment)
    {
        <span>
            @item.course.CoureName
        </span>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
