@model IEnumerable<School_Management_System.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
          <th>Picture</th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Section)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Student_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrolled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department_FId)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                <img src="~/Projectimg/@item.Student_Picture" style="height:100px; width:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Section)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Student_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrolled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department_FId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
